.signin{
    display: block;
    width: 100%;
    max-width: 40.0rem;
    margin: 4rem auto 6rem;
    border: 1px solid black;

    .wrap{
        padding: 10px;
    }
    h3{
        font-size: 2.2rem;
        line-height: 1;
        font-weight: 600;
        display: block;
        padding: 10px;
        text-align: center;
        width: 100%;
        margin: auto;
    }

    .socialSign{
        margin: 0.5rem auto 0;
    }
}