.formRow{
    input{
        line-height: 1;
        font-weight: 400;
        font-size: 1.5rem;
        text-align: left;
        display: block;
        width: 100%;
        margin: 10px auto;
        padding: 10px 5px;
        border: 1px solid black;
        outline: none
    }
}